<div class="flex flex-col gap-4">
  <%= render 'admin/shared/page_header',
    title: 'Brands',
    button_text: 'Create Brand',
    button_path: new_admin_brand_path %>

  <div class="filter-wrapper w-full bg-white p-4 border border-gray-200 rounded-lg grid gap-4" data-controller="products-index">
    <%= render_filter_chips(
      filter_params: @filter_params,
      filter_labels: @filter_labels,
      clear_path: admin_brands_path
    ) %>

    <!-- Filter Bar -->
    <div class="w-full max-w-full">
      <%= form_with url: admin_brands_path, method: :get, local: true, class: "flex flex-col md:flex-row md:items-end gap-2 md:gap-4 w-full max-w-full" do |f| %>
        <!-- Key Filters -->
          <div class="flex flex-col md:flex-row gap-2 md:gap-4 flex-1">
            <div class="flex flex-col">
              <input id="q" type="search" name="q" value="<%= params[:q] %>" placeholder="Search brands..." class="input input-bordered text-sm w-full max-w-full px-3 py-2 rounded border border-gray-300 focus:ring-2 focus:ring-sky-500" data-action="input->products-index#search" autocomplete="off">
            </div>
            <div class="flex flex-col">
              <input id="name" type="text" name="name" value="<%= params[:name] %>" placeholder="Name..." class="input input-bordered text-sm w-full max-w-full px-3 py-2 rounded border border-gray-300">
            </div>
            <div class="flex flex-col">
              <input id="slug" type="text" name="slug" value="<%= params[:slug] %>" placeholder="Slug..." class="input input-bordered text-sm w-full max-w-full px-3 py-2 rounded border border-gray-300">
            </div>
          </div>
        <%= render "admin/shared/advanced_filters", f: f %>
        <!-- Submit -->
        <div class="flex flex-col justify-end">
          <button type="submit" class="btn btn-secondary text-sm px-3 py-2 rounded bg-gray-950 text-gray-50 hover:bg-gray-700 cursor-pointer">Filter</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-2 flex justify-between items-end">
    <span class="text-sm text-gray-500">Total: <%= @pagy&.count %></span>
    <%== @pagy.series_nav if @pagy %>
  </div>

  <div class="overflow-x-auto w-full border border-gray-200 rounded-lg">
    <table class="w-full max-w-full divide-y  divide-gray-200 table-auto">
      <thead class="bg-gray-50">
        <tr>
          <%= render_brand_table_headers(params)%>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-100">
        <% if @brands.empty? %>
          <%= render_empty_state(colspan: 3, title: 'No brands found', message: '') %>
        <% else %>
          <% @brands.each do |brand| %>
            <tr class="hover:bg-gray-50 text-sm">
              <td class="px-4 py-2 font-medium text-gray-900">
                <% if brand.logo.attached? %>
                  <div class="inline-block mr-2 align-middle focus:outline-none" >
                    <%= image_tag brand.logo_webp_small, class: "rounded border border-gray-200 h-8 w-8 object-cover inline" %>
                  </div>
                <% end %>
                <%= brand.name %>
              </td>
              <td class="px-4 py-2 text-sm text-gray-700"><%= brand.slug %></td>
              <td class="px-4 py-2 text-sm text-gray-700"><%= format_datetime(brand.created_at) %></td>
              <td class="p-2 max-w-[180px] text-sm text-right">
                <div class="button-wrapper flex gap-2 justify-end">
                  <%= render_action_button(admin_brand_path(brand), icon: 'visibility', type: :show) %>
                  <%= render_action_button(edit_admin_brand_path(brand), icon: 'edit', type: :edit) %>
                  <%= render_action_button(admin_brand_path(brand), icon: 'delete', type: :delete, confirm_message: 'Are you sure you want to delete this brand?') %>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mb-2 flex justify-between items-end">
    <span class="text-sm text-gray-500">Total: <%= @pagy&.count %></span>
    <%== @pagy.series_nav if @pagy %>
  </div>
</div>
