<div class="flex flex-col gap-4" data-controller="payment-transactions-index">
  <%= render 'admin/shared/page_header', title: 'Payment Transactions' %>

  <div class="filter-wrapper w-full bg-white p-4 border border-gray-200 rounded-lg grid gap-4">
    <%= render_filter_chips(
      filter_params: @filter_params,
      filter_labels: @filter_labels,
      clear_path: admin_payment_transactions_path
    ) %>

    <div class="w-full max-w-full">
      <%= form_with url: admin_payment_transactions_path, method: :get, local: true, class: "flex flex-col md:flex-row md:items-end gap-2 md:gap-4 w-full max-w-full" do |f| %>
        <div class="flex flex-col md:flex-row gap-2 md:gap-4 flex-1">
          <div class="flex flex-col">
            <div class="flex gap-1">
              <input type="date" name="created_after" value="<%= params[:created_after] %>" class="input input-bordered text-sm w-full px-3 py-2 rounded border border-gray-300" aria-label="From Date">
              <input type="date" name="created_before" value="<%= params[:created_before] %>" class="input input-bordered text-sm w-full px-3 py-2 rounded border border-gray-300" aria-label="To Date">
            </div>
          </div>
          <div class="flex flex-col">
            <input id="order_number" type="text" name="order_number" value="<%= params[:order_number] %>" placeholder="Order number" class="input input-bordered text-sm w-full px-3 py-2 rounded border border-gray-300" autocomplete="off">
          </div>
        </div>
        <%= render 'admin/payment_transactions/advanced_filters', f: f %>
        <div class="flex flex-col justify-end">
          <button type="submit" class="btn btn-secondary text-sm px-3 py-2 rounded bg-gray-950 text-gray-50 hover:bg-gray-700 cursor-pointer">Filter</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex justify-between items-end">
    <span class="text-sm text-gray-500">Total: <%= @pagy&.count %></span>
    <%== @pagy.series_nav if @pagy %>
  </div>

  <%= render 'admin/payment_transactions/table', payment_transactions: @payment_transactions %>

  <div class="mb-2 flex justify-between items-end">
    <span class="text-sm text-gray-500">Total: <%= @pagy&.count %></span>
    <%== @pagy.series_nav if @pagy %>
  </div>
</div>
